*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    width: 100%;
    position: relative;
    transform: rotate(-35deg);
}
.wall{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    animation: motion 2s ease-in-out infinite;
}
@keyframes motion{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200px);
    }
}
.square{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    box-shadow: 10px 10px 106px 13px rgba(3,233,244,0.75);
    transform-origin: bottom right;
    animation: rotate 2s ease-in-out infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(90deg);
    }
    65%{
        transform: rotate(85deg);
    }
    70%{
        transform: rotate(90deg);
    }
    75%{
        transform: rotate(87.5deg);
    }
    80%,100%{
        transform: rotate(90deg);
    }
}
h1{
position: relative;
font-size: 50px;
color: azure;
}
