*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 500px;
}
section h1{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
    text-align: center;
}
.banner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.banner .blocks{
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    background: red;
    animation: on 0.5s ease-in-out forwards;
}
@keyframes on {
    0%{
        transform: translateZ(2000px);
        background-attachment: fixed;
        background-position: center;
    }
    100%{
        transform: translateZ(0px);
        background-attachment: fixed;
        background-position: center;
    }
};